<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDX</title>
</head>
<body>
<ul>
    <% if (typeof animals === 'object') { %>
    <% animals.forEach( (animal) => { %>
    <li>
        <%= animal.name %>, <%= animal.species %>, <%= animal.breed %>,
        <%= animal.gender %>, <%= animal.traits %>, <%= animal.age %>
    </li>
    <% }); %>
    <% } %>

    <% if (typeof names === 'object') { %>
    <% names.forEach( (name) => { %>
    <li>
        <%= name %>;
    </li>
    <% }); %>
    <% } %>

    <% if (typeof count === 'number') { %>
    count = <%= count %>
    <% } %>
</ul>
</body>
</html>