<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDX</title>
</head>
<body>
<ul>
<% toys.forEach( (toy) => { %>
   <li>
    <%= toy.id %>, <%= toy.name %>, <%= toy.price %>
    <% if (toy.subtotal) { %>
        </br> sub total price = <%= toy.subtotal %>;
    <% } %>
   </li>
<% }); %>
</ul>

<% if (typeof totalPrice === 'number') { %>
    Total price = <%= totalPrice %>
<% } %>

</body>
</html>